body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 50px); /* 5 columns */
    grid-template-rows: repeat(5, 50px); /* 5 rows */
    gap: 10px;
}

.square {
    background-color: orange;
    border-radius: 10px; /* Rounded edges */
}

.reset-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.reset {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    background-color: lightgrey;
    border-radius: 0 1000px 1000px 0; /* Half circle shape */
    padding: 20px;
    padding-right: 30px;
}