body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #de8f70;
}

.logo {
    width: 10% ;
    height:10% ;
}

.logoimg {
    margin: 10px;
    width: 60px ;
    height: 60px ;
}
h1 {
    text-align: center;
    color: #fff;
    font-size: 180px;
    margin: 0;
    padding-top: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 800;
}
.color-red {
    color: #fe5f59;
}

.color-blue {
    color: #00c2ea;
}
.boxbox {
    display: flex;
    justify-content: center;
    gap: 180px; 
    

}
.redbox {
    background-color: #fe5f59;
    padding: 20px;
    border-radius: 80px; 
    width: 300px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bluebox {
    background-color: #00c2ea;
    padding: 20px;
    border-radius: 80px; 
    width: 300px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose {
    text-align: center;
    color: #fff;
    font-size: 70px;
    margin-top: 40px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}
.col {
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin: 0; /* Remove margin to ensure proper centering */
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}


.redbox, .bluebox {
    transition: transform 0.2s ease-in-out;
}

.redbox:hover {
    background-color: #ff534a;
    transform: scale(1.1); /* Scale up by 10% */
}

.bluebox:hover {
    background-color: #2380fa;
    transform: scale(1.1); /* Scale up by 10% */
}