body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #de8f70;
}

.logo {
    width: 10% ;
    height:10% ;
}

.logoimg {
    margin: 10px;
    width: 60px ;
    height: 60px ;
}
h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin-top: 0;
    padding-top: 20px;
}