body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #de8f70;
}

.logo {
    width: 10% ;
    height:10% ;
}

.logoimg {
    margin: 10px;
    width: 60px ;
    height: 60px ;
}
h1 {
    text-align: center;
    color: #fff;
    font-size: 200px;
    margin-top: 0;
    padding-top: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 800;
}
.color-red {
    color: #fe5f59;
}

.color-blue {
    color: #00c2ea;
}
.boxbox {
    display: flex;
    justify-content: center;
    gap: 150px; 
    

}
.redbox {
    background-color: #fe5f59;
    padding: 20px;
    border-radius: 80px; 
    width: 300px;
    aspect-ratio: 1/1;
}
.bluebox {
    background-color: #00c2ea;
    padding: 20px;
    border-radius: 80px; 
    width: 300px;
    aspect-ratio: 1/1;
}
.choose {
    text-align: center;
    color: #fff;
    font-size: 80px;
    margin-top: 0;
    padding-top: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}