body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #de8f70;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 90px); 
    grid-template-rows: repeat(5, 90px); 
    gap: 10px;
}

.square {
    background-color: #fae9cf;
    border-radius: 10px; 
    cursor: pointer;
    position: relative;
    
}
.main-circle {
    width: 85%;
    height: 85%; 
    border-radius: 50%; 
    background-color: #fe5f59; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; /* Adjusted */
    align-items: center; /* Adjusted */
    flex-wrap: wrap;
    
    
}
.small-circle {
    width: 22%;  /* Adjusted for closer fit */
    height: 22%; /* Adjusted for closer fit */
    border-radius: 50%; 
    background-color: #ffffff; 
    margin: 5px; /* Adjusted for explicit spacing */


    
}

.reset-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.reset {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    background-color: white;
    border-radius: 0 1000px 1000px 0; 
    padding: 20px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    color: #4e4e4e;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}





@media only screen and (max-width: 670px) {
    .grid {
        grid-template-columns: repeat(5, 70px); 
        grid-template-rows: repeat(5, 70px); 
    }
    .reset {
        padding: 15px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: "Rubik", sans-serif;
        font-size: 20px;
    }
    
  }

  @media only screen and (max-width: 520px) {
    .grid {
        grid-template-columns: repeat(5, 60px); 
        grid-template-rows: repeat(5, 60px); 
    }
    .reset {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        padding: 27px;
        padding-right: 27px;
        padding-top: 10px;
        padding-bottom: 27px;
        font-family: "Rubik", sans-serif;
        font-size: 18px;
        border-radius: 0px 0px 1000px 1000px ; 
        max-width: fit-content;
    }
    .reset-container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
  }

  @keyframes click-feedback {
    from {
      transform: scale(1);
      background-color: skyblue;
    }
    to {
      transform: scale(0.95);
      background-color: lightcoral;
    }
  }
  
  .clicked {
    animation: click-feedback 0.2s ease forwards;
  }
    
